<% include partials/header %>
<% include partials/menu %>
  <div id="content">
    <h1>Educations</h1>
    <h2>Elementary School</h2>
    <p>SDK Maranatha & SDN Nagasari XI</p>
    <h2>Junior High School</h2>
    <p>SMPN 1 Karawang</p>
    <h2>Senior High School</h2>
    <p>SMAN 5 Karawang</p>
    <h2>University</h2>
    <p>President University</p>
  </div>
<% include partials/footer %>
