<% include partials/header %>
<% include partials/menu %>

      <div id="content">
        <h1>Welcome to Julindra Markus Official Website</h1>
        <p>Julindra Markus is a self-motivated person who has several intentions in his life. Me, as Julindra, so happy to be able to share what I've got before during my lifetime. It would be fun to know from you all guys about my writtings that are able to inspire you :)</p>
        <p>You know what? I am a unique person who always has no fear in facing something new</p>
        <h2>Always Create Your Own Opportunity!</h2>
        <p>Don't lose yourself. Keep encouraging yourself by following these things:</p>
        <ul>
          <li>Always be grateful</li>
          <li>Kepp praying</li>
          <li>Stay Positive</li>
        </ul>
      </div>

<% include partials/footer %>
