<% include partials/header %>
<% include partials/menu %>
<div id="content">
  <h1>Intentions</h1>
  <p>Here are some intentions that I have in my life</p>
  <h2>Music</h2>
  <p>It's everything to me</p>
  <p>I start to play music when I was in the fourth grade of elementary school. I got chance to play keyboard and thankfully I was supported by my parent especially my Mom. I also learn in a course to sing</p>
  <p>I sharpen my skills with doing service in my local church, join with a band and start to write a song</p>
  <h2>Achievements</h2>
  <p>Here are some achievement I got during my lifetime in music</p>
  <ul>
    <li>Big 50 AFI Junior</li>
    <li>Singing competitions in the city.</li>
    <li>Church Christmas celebration music arranger</li>
  </ul>
  <h2>Programming</h2>
</div>
<% include partials/footer %>
