<% include partials/header %>
<% include partials/menu %>

    <div id="content">
      <h1>My Profiles</h1>
      <p>Here are all about myself. Feel free to know.</p>
      <h2>Date of Birth</h2>
      <p>Indramayu, July 11th 1995</p>
      <h2>Address</h2>
      <p>Bintang Alam Residence B No. 8 Teluk Jambe, Karawang</p>
      <h2>Religion</h2>
      <p>Christian</p>
      <h2>Email</h2>
      <p><a href="https://www.google.com/intl/id/gmail/about/">julindramarkus11@gmail.com</a></p>
      <h2>Nationality</h2>
      <p>Indonesia</p>
      <h2>Hobbies</h2>
      <ul>
        <li>Music</li>
        <li>Coding</li>
        <li>Movie</li>
        <li>Gaming</li>
      </ul>
      <!-- <h2>Images</h2>
      <p>images can be placed on the left, in the center or on the right:</p>
      <span class="left"><img src="stylesheets/graphic.png" alt="example graphic" /></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum.
      </p>
      <span class="center"><img src="stylesheets/graphic.png" alt="example graphic" /></span>
      <span class="right"><img src="stylesheets/graphic.png" alt="example graphic" /></span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur.
      </p>
      <h2>Tables</h2>
      <p>Tables should be used to display data and not used for laying out your website:</p>
      <table style="width:100%; border-spacing:0;">
        <tr><th>Item</th><th>Description</th></tr>
        <tr><td>Item 1</td><td>Description of Item 1</td></tr>
        <tr><td>Item 2</td><td>Description of Item 2</td></tr>
        <tr><td>Item 3</td><td>Description of Item 3</td></tr>
        <tr><td>Item 4</td><td>Description of Item 4</td></tr>
      </table>
      <h2>Form Elements</h2>
      <form action="#" method="post">
        <div class="form_settings">
          <p><span>Form field example</span><input type="text" name="name" value="" /></p>
          <p><span>Textarea example</span><textarea rows="8" cols="50" name="name"></textarea></p>
          <p><span>Checkbox example</span><input class="checkbox" type="checkbox" name="name" value="" /></p>
          <p><span>Dropdown list example</span><select id="id" name="name"><option value="1">Example 1</option><option value="2">Example 2</option></select></p>
          <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="button" /></p>
        </div>
      </form> -->
    </div>
<% include partials/footer %>
